html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 .logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #ffc300;
    border-radius: 50%;
    color: #ffc300;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #ffc300;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #ffc300;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;
}
nav .navlinks a:hover{
    color: #ffc300;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color: #ffc300;
    font-size: 16px;
}
.hero-text h1{
    color: #ffc300;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;

}
.btn-group{
    margin: 45px 0;

}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn:hover{
    border-color: #ffc300;
}
.btn.active{
    border-color: #ffc300;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: #ffc300;
    transform: rotate(360deg);
}
/* responsive deisgn and displaying navbar for small screen */
@media(max-width:930px){
    nav .togglebtn{
        display: initial;
    }
    /*for toggle button */
    .click {
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;

    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;

    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;

    }
    .hero-text{
        padding: 40px 0px;

    }
}
/* cards */
.container-cards{
  width: 1280px;
  max-width: 90%;
  min-height: 100vh;
  margin: 10px auto;
}
.container-cards h1{
  color: #ffc300;
  display: inline-block;
  font-size: 2rem;
  margin: 1em 10px;
  position: relative;
}
.container-cards h1::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #fff;
  transition: 0.5s;
}
.container-cards h1:hover::after{
  width: 60%;
}
.projects{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.projects .project-card{
  width: 380px;
  height: 250px;
  background-color: #222;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  margin: 12px;

}
.projects .project-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.5s;
}
.project-card .details{
  height: 65px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: -25%;
  left: 10%;
  background: #2d2f31;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: 0.5s;
  font-weight: 300;
  opacity: 0;

}
.details .icon{
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ffc300;
  border-radius: 50%;

}
.details .text h4{
  color: #ffc300;
}
.details .icon i{
  transform: rotate(45deg);

}
.project-card:hover .details{
  bottom: 10%;
  opacity: 1;

}
.project-card:hover img{
  transform: scale(1.1);

}
/* contact form */
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: #222;
    font-size: 12px;
  }
  
  body, button, input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffc300;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ffc300;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ffc300;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #e5e5e5;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }