 body{
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
}
span {
    color: red;
}
button{
    color: white;
    border-color: white;
    background-color: black;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    color: black;
    border: solid 1px black;
    background-color: white;
}
.fase{
    font-size: 20px;
    border: 1px solid gray;
    color: gray;
}
.pelicula {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 20px;
}
.pelicula img {
    width: 100px;
    height: 150px;
    padding: 10px;
    border: solid 1px red;
    border-radius: 10px;
    filter: grayscale(100%);
}
.pelicula p {
    margin: 0;
    font-weight: bold;
}