body{
    background-image: url(https://img.freepik.com/fotos-premium/textura-papel-arrugado-fondo-envoltura-marron-embalaje-beige-pagina-sucia-vintage-hoja-artesanal-patron-natural-papiro-superficie-carton-cerca_156843-1308.jpg?w=2000);
    color: white;
    font-family: 'Caveat', cursive;
    align-items: center;
    background-size: cover;
}
.imagen{
    max-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: 200px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.numeros{
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    margin-top: 130px;
    margin-left: 250px;
    margin-right: 250px;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 300px;
    margin-left: 50px;
    margin-top: 150px;
    color: black;
}
.elementoClick{
    width: 100px;
    height: 20px;
    align-items: center;
    padding: 7px;
    margin: 3px;
    position: relative;
    color: black;
}
#numeroRandom {
   font-size: 60px;
}
#random {
    padding: 20px;
    margin: 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: color 0.3s ease;
    color: black;
    border-color: white;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-style: bold;
}
#random:hover{
    color: black;
    border-color: black;
}
#reset{
    font-size: 25px;
    transition: color 0.3s ease;
    color: black;
    font-style: bold;
    font-family: 'Caveat', cursive;
    background-color: transparent;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}
#reset:hover{
    color: white;
}
#perdio{
    margin: 20px;
    color: red;
    font-size: large;
}
#gano {
    margin: 20px;
    color: green;
    font-size: large;
}
@media screen and (max-width: 480px) {
    .imagen {
       max-width: 400px;
       margin-left: 5px;
       margin-top: 40px;
       margin-right: 20px;
    }

    .container {
        margin-top: 50px;
        flex-direction: column;
    }

    .numeros {
        max-height: 400px;
        margin-top: 80px;
        margin-left: 150px;
    }
    .elementoClick{
        padding: 5px;
    }
    .botones {
        margin: 10px;
        margin-top: 80px;
        margin-bottom: 30px;
    }

    #random {
        font-size: 16px;
    }

    #reset {
        font-size: 20px;
        margin-top: 20px;
    }

    #perdio,
    #gano {
        margin: 10px;
        font-size: 16px;
    }
}