.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  
.numeros{
    cursor: pointer;
    font-size: 14px;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50%;
}
#numeroRandom {
   font-size: 60px;
}
#random {
    padding: 20px;
    margin: 20px;
    background-color: green;
    cursor: pointer;
}
#random:hover{
    color: white;
}